*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

h1{
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
/*navigacny bar*/
nav{
    width: 100%;
    height: 50px;
    background-color:rgb(21, 110, 199);
    display: inline-block;
    overflow: hidden;
    color: white;
    font-weight: bold;
    position: fixed;
    border-bottom: solid 1px black;
}

nav a{   /*text v navigacnom bare*/
    text-decoration: none;
    font-weight: bold;
    float: left;
    padding: 16px;
    color: white;
}

nav a:hover{
    background-color: blue;
}

nav a img{       /*obrazky v nav bare*/
    width: 30px;
    height: 30px;
}

#menu{      /*menu ktore je defaultne skryte*/
    position: fixed;
	top: 51px;
    left: 150px;
	display: none;  /* <- */
	z-index: 1;
    background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgb(21, 110, 199);
    border: solid 1px black;
    border-radius: 5px;
}

#education:hover{
    background-color: blue;
}

#menu a:hover{
    border-radius: 5px;
}

nav div{
    float: left;
}

.drop{
	cursor: pointer;
	font-size: 16px;
	border: none;
	font-family: inherit;
	margin: 0;
    outline: none;
	color: white;
	background-color: inherit;
    font-weight: bold;
    padding: 16px;
}

.responsive{
    float: right;
    padding: 0px;
}

#pc, #mobile{
    padding: 8px;
}

/*obsah stranky*/
#content{
    align-items: center;
    justify-content: center;
}

/*sekcia home*/
#home{
    background-image: url("./../img/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    padding-top: 130px;
    padding-bottom: 350px;
    justify-content: center;
    height: 350px;
    color: black;
}

#home img{
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

#home .wrap{
    text-align: center;
    width: 300px;
}

#home .wrap a{
    text-decoration: none;
    color: black;
}

#home .name, #home .desc{
    margin-top: 15px;
}

/*sekcia about*/
#about{
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    justify-content: center;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(lightskyblue, rgb(21, 110, 199), lightskyblue);
    display: flex;
}

#about_inner{
    width: 70%;
}

#about .part1{
    display: flex;
    padding-bottom: 30px;
}

#about .part1 .introduction{
    padding-right: 25px;
}

#about .part2{
    padding-top: 30px;
    display: flex;
    justify-content: center; 
}

#about .part2 .contacts{
    width: 40%;
    margin: auto;
    padding-right: 25px;
}

#about .part2 .photos{
    width: 50%;
    margin: auto;
    display: inline-block;
    gap: 15px;
}

#about .part2 .photos img{
    width: 20%;
    padding: 10px;
    float: left;
}

#about img{
    width: 150px;
    height: 150px;
    float: right;
}

/*sekcia education*/
#edu{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: 700px;
    background-color: lightskyblue;
}

.school{
    width: 75%;
    height: 130px;
    margin: auto;
    margin-bottom: 50px;
    padding: 20px;
    background-color: rgb(21, 110, 199);
    border: solid 1px black;
    border-radius: 5px;
    
}

.school h2{
    padding-bottom: 10px;
}

/*sekcia skills*/
#skills{
    width: 100%;
    height: 400px;
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../img/lake.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.skills_inner{
    width: 70%;
    margin: auto;
}

.programming{
    display: flex;
    justify-content: center;
    padding-top: 120px;
}

.programming img{
    width: 15%;
    margin-left: 15px;
    margin-right: 15px;
    height: 80px;
}

/*upravenie scrollu kvoli navbaru*/
#home, #about, #skills, #work{
    scroll-margin-top: 50px;
}

#school1, #school2, #school3{
    scroll-margin-top: 70px;
}

/*sekcia  my work*/
#myWork{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 150px;
    background-image: linear-gradient(rgb(41, 77, 161), rgb(41, 77, 161), rgb(1, 17, 98));
}

.work_inner{
    width: 70%;
    margin: auto;
}

#myWork h1{
    margin-bottom: 50px;
}

.job{
    border: solid 1px black;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 15px;
}

/*footer stranky*/
footer{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(6, 18, 77);
    color: gray;
}

footer a{
    text-decoration: none;
    color: gray;
}

/*media query pre mobilnu verziu*/
@media screen and (max-width: 560px){
    #home{
        color: white;
    }

    #home .wrap a{
        text-decoration: none;
        color: white;
    }

    #about .part1{
        display: unset;
    }
    #about .part1 .introduction{
        padding-bottom: 20px;
        padding-right: 0;
    }
    #about .part1 img{
        float: inherit;
    }
    #about .part2{
        display: unset;
    }
    #about .part2 .contacts{
        width: 70%;
        padding: 30px;
    }
    #about .part2 img{
        height: 50px;
        width: 50px;
    }
    .school{
        margin-left: 35px;
        overflow-y: scroll;
    }
    #school1, #school2, #school3{
        scroll-margin-top: 80px; /*css tento riadok ignoruje (rovnako aj ten scroll margin pretym)*/
        margin-top: 40px;        /*toto je zan nahrada*/
    }
}